<div class="sidebar">
    <h2>Навигация</h2>
    <ul>
        <li><a href="/"><b>Главная</b></a></li>
        <li>
            Кубсаты
            <ul>
                <li><a href="/spacecraft_families"><b>Семейства</b></a></li>
                <li><a href="/spacecraft_models"><b>Модели</b></a></li>
                <li><a href="/missions"><b>Назначение</b></a></li>
                <li><a href="/programs"><b>Программы</b></a></li>
                <li><a href="/platforms"><b>Платформы</b></a></li>
            </ul>
        </li>
        <li>
            Выведение на орбиту
            <ul>
                <li><a href="/launches"><b>Запуски</b></a></li>
                <li><a href="/spaceports"><b>Космодромы</b></a></li>
                <li><a href="/rocket_families"><b>Ракеты-носители</b></a></li>
                <li><a href="/containers"><b>Контейнеры</b></a></li>
                <li><a href="/base_cs"><b>Базовые КА</b></a></li>


            </ul>
        </li>
        <li>
            Орбиты
            <ul>
                <li><a href="/orbits_init"><b>Начальные параметры</b></a></li>
                <li><a href="/orbits_tle"><b>Эволюция орбит</b></a></li>
            </ul>
        </li>
        <li>
          <a href="/interplanetary"><b>Межпланетные миссии</b></a>
        </li>

        <li>
            Информация
            <ul> 
                <li><a href="/cubesat"><b>Формат CubeSat</b></a></li>
                <li><a href="/publ"><b>Публикации</b></a></li>
                <li><a href="/refs"><b>Источники</b></a></li>
            </ul>
        </li>

        <li>
            Документация
            <ul> 
                <li><a href="/db_docs"><b>Структура</b></a></li>
                <li><a href="/db_info"><b>Схема</b></a></li>
            </ul>
        </li>
    </ul>
</div>

