body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

.layout {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #2f3640;
    color: white;
    padding: 10px;
line-height: 1.5;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    background: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.page-body {
    padding: 20px;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background: #f1f2f6;
}

.chart-container {
    margin-top: 40px;
}




.stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stat-card {
    background: #f1f2f6;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    flex: 1;
}

.stat-card h3 {
    margin: 0;
    font-size: 28px;
}


.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.chart-img {
    width: 100%;
    height: auto;
}

.chart-img a {
    width: 50%;
    height: auto;
    text-align: center;
}


.modal {
    display: none;
    position: fixed;  
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}



